@import '../../node_modules/antd/dist/antd.min.css';
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.Header {
  height: 54px;
  top: 0;
  position: fixed;
  z-index: 1009;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: black;
  max-width: 425px;

  h1, h2, h3, h4 {
    color: white;
  }
}

.pagination-custom {
  .ant-pagination-prev {
    button {
      color: white;
    }
  }

  .ant-pagination-next {
    button {
      color: white;
    }
  }

  .ant-pagination-simple-pager {
    color: white;
    input {
      color: black;
    }
  }
}