@import '../../node_modules/antd/dist/antd.min.css';
@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

.Header {
  height: 54px;
  top: 0;
  position: fixed;
  z-index: 1009;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: black;
  max-width: 425px;

  h1, h2, h3, h4 {
    color: white;
  }
}

.pagination-custom {
  .ant-pagination-prev {
    button {
      color: white;
    }
  }

  .ant-pagination-next {
    button {
      color: white;
    }
  }

  .ant-pagination-simple-pager {
    color: white;
    input {
      color: black;
    }
  }
}